<ion-content padding style="background: indianred;">

    <ion-row>
        <ion-col col-12 style="text-align: center;">
            <p style="font-size: 1.5em; font-weight: 350;">Set Scheduler</p>
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 30px;">
        <ion-col col-2 style="text-align: center;">
            <div class="dot" >
                <p style="margin: 0px; font-weight: 600; color: white;">S</p>
            </div>
        </ion-col>
        <ion-col col-2 style="margin-left: -11px;text-align: center;">
            <div class="dot">
                <p style="margin: 0px; font-weight: 600; color: white;">M</p>
            </div>
        </ion-col>
        <ion-col col-1 style="padding-left: 2px;text-align: center;">
            <div class="dot">
                <p style="margin: 0px; font-weight: 600; color: white;">T</p>
            </div>
        </ion-col>
        <ion-col col-2 style="padding-left: 18px;text-align: center;">
            <div class="dot">
                <p style="margin: 0px; font-weight: 600; color: white;">W</p>
            </div>
        </ion-col>
        <ion-col col-1 style="text-align: center;">
            <div class="dot">
                <p style="margin: 0px; font-weight: 600; color: white;">T</p>
            </div>
        </ion-col>
        <ion-col col-2 style="padding-left: 22px;text-align: center;">
            <div class="dot">
                <p style="margin: 0px; font-weight: 600; color: white;">F</p>
            </div>
        </ion-col>
        <ion-col col-2 style="text-align: center;">
            <div class="dot">
                <p style="margin: 0px; font-weight: 600; color: white;">S</p>
            </div>
        </ion-col>
    </ion-row>
    <!-- <ion-card style="border-radius: 5px;">
        <ion-card-header>
            Select start time
        </ion-card-header>
        <ion-card-content (click)="openTimePicker('start')">
            <ion-input style="border: 1px solid lightyellow;
            border-radius: 10px;
            box-shadow: 5px 10px 20px -12px lightgrey;" placeholder="HH:MM A" [(ngModel)]="startTime" readonly>
            </ion-input>
        </ion-card-content>
    </ion-card>

    <ion-card style="border-radius: 5px;">
        <ion-card-header>
            Select end time
        </ion-card-header>
        <ion-card-content (click)="openTimePicker('end')">
            <ion-input style="border: 1px solid lightyellow;
            border-radius: 10px;
            box-shadow: 5px 10px 20px -12px lightgrey;" placeholder="HH:MM A" [(ngModel)]="endTime" readonly>
            </ion-input>
        </ion-card-content>
    </ion-card> -->
</ion-content>
<ion-footer no-header>
    <ion-toolbar>
        <ion-row style="padding-bottom: 16px;">
            <ion-col col-6 style="text-align: center;">
                <p style="color: #ffffff; font-size: 1.5em; font-weight: 400;">Start</p>
            </ion-col>
            <ion-col col-6 style="text-align: center;">
                <p style="color: #ffffff; font-size: 1.5em; font-weight: 400;">End</p>
            </ion-col>
        </ion-row>
        <ion-row style="padding-bottom: 80px;">
            <ion-col col-6 style="padding-right: 16px; color: white; border-right: 1px solid white;">
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onHourClicked('start','up')">
                        <ion-icon name="arrow-dropup"></ion-icon>
                    </ion-col>
                    <ion-col col-3></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onMinuteClicked('start','up')">
                        <ion-icon name="arrow-dropup"></ion-icon>
                    </ion-col>
                    <ion-col col-2></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-3 style="text-align: center;">
                        <p style="margin: 0px; font-size: 1.3em; font-weight: 600;">{{startHourNumber}}</p>
                    </ion-col>
                    <ion-col col-3 style="text-align: center;">
                        <p style="margin: 0px; font-size: 1.5em; font-weight: 600;">:</p>
                    </ion-col>
                    <ion-col col-3 style="text-align: center;">
                        <p style="margin: 0px; font-size: 1.3em;font-weight: 600;">{{startMinutesNumber}}</p>
                    </ion-col>
                    <ion-col col-2></ion-col>
                    <!-- <ion-col col-3 style="text-align: center;">
                        <ion-badge style="font-size: 1em;background: transparent;" (click)="ampmClicked('start')">{{start_ampm}}</ion-badge>
                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onHourClicked('start','down')">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </ion-col>
                    <ion-col col-3></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onMinuteClicked('start','down')">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </ion-col>
                    <ion-col col-2></ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-6 style="padding-left: 16px; color: white;">
                <ion-row>
                    <ion-col col-2></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onHourClicked('end','up')">
                        <ion-icon name="arrow-dropup"></ion-icon>
                    </ion-col>
                    <ion-col col-3></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onMinuteClicked('end','up')">
                        <ion-icon name="arrow-dropup"></ion-icon>
                    </ion-col>
                    <ion-col col-1></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-2></ion-col>
                    <ion-col col-3 style="text-align: center;">
                        <p style="margin: 0px; font-size: 1.3em;font-weight: 600;">{{endHourNumber}}</p>
                    </ion-col>
                    <ion-col col-3 style="text-align: center;">
                        <p style="margin: 0px; font-size: 1.5em;font-weight: 600;">:</p>
                    </ion-col>
                    <ion-col col-3 style="text-align: center;">
                        <p style="margin: 0px; font-size: 1.3em;font-weight: 600;">{{endMinutesNumber}}</p>
                    </ion-col>
                    <ion-col col-1></ion-col>
                    <!-- <ion-col col-3 style="text-align: center;">
                        <ion-badge style="font-size: 1em; background: transparent;" (click)="ampmClicked('end')">{{end_ampm}}</ion-badge>
                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-2></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onHourClicked('end','down')">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </ion-col>
                    <ion-col col-3></ion-col>
                    <ion-col col-3 style="text-align: center; font-size: 1.5em;" (click)="onMinuteClicked('end','down')">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </ion-col>
                    <ion-col col-1></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 style="text-align: center;"><button ion-button round (click)="dismiss()">Dismiss</button>
            </ion-col>
            <ion-col col-6 style="text-align: center;"><button ion-button round (click)="submit()">Submit</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>