<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Loading Unloading Trip' | translate}}</ion-title>
    <ion-buttons end *ngIf="tripData.length > 0">
      <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
        <!-- <ion-icon name="custom-excel"></ion-icon> -->
        <img style="width: 20px;" type="image/svg+xml" src="/assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg">
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of tripData; let i = index">
    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-row style="margin-top:2%;">
        <ion-col col-4>
          <p style="
          color:gray;
          font-size:11px;
          font-weight:400;">
            {{ item.Source.geoname }}
          </p>

          <p style="
          color:#53ab53;
          font-size:11px;
          font-weight: bold;">
            {{'Trip Start' | translate}}
          </p>
        </ion-col>
        <ion-col col-4>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            {{ item.Destination.geoname }}

          </p>

          <p style="
          font-size: 11px;
          color:red;
          font-weight:bold;">
            {{'Trip End' | translate}}
          </p>
        </ion-col>
        <ion-col col-4>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            {{ item.distanceTravelled | number: "1.0-2" }}

          </p>

          <p style="
          font-size: 11px;
          color:red;
          font-weight:bold;">
            {{'Distance' | translate}}(Km)
          </p>
        </ion-col>

      </ion-row>
      <ion-row style="margin-top:2%;">
        <ion-col col-6>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            {{ item.loadingPoint.reportingDateTime | date:'fullDate' }}
            {{ item.loadingPoint.reportingDateTime | date:'shortTime' }}
          </p>

          <p style="
          font-size: 11px;
          color:#e6c917;
          font-weight:bold;">
            {{'Trip Start time' | translate}}
          </p>
        </ion-col>
        <ion-col col-6>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            {{ item.destination.exitDateTime | date:'fullDate' }} {{ item.destination.exitDateTime | date:'shortTime' }}
          </p>

          <p style="
          color:#009688;
          font-size: 11px;
          font-weight: bold;">
            {{'Trip end time' | translate}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:2%;">
        <ion-col col-6>
          <p style="
              color:gray;
              font-size:11px;
              font-weight: 400;">
            {{item.tripTime.total}}
          </p>

          <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold;">
            {{'Duration' | translate}}(HH:MM)
          </p>
        </ion-col>
        <ion-col col-6>
          <p style="
              color:gray;
              font-size:11px;
              font-weight:400;">
            {{ item.tripTime.running }}
          </p>

          <p style="
          color:#009688;
          font-size: 11px;
          font-weight: bold;">
            {{'Running Time' | translate}}(HH:MM)
          </p>
        </ion-col>

      </ion-row>
      <ion-row style="margin-top:2%;">
        <ion-col col-6>
          <p style="
              color:gray;
              font-size:11px;
              font-weight: 400;">
            {{ item.tripTime.stoppage }}
          </p>

          <p style="text-align:left; font-size: 11px;color:#11c1f3;  font-weight:bold;">
            {{'Stoppage Time' | translate}}(HH:MM)
          </p>
        </ion-col>
        <ion-col col-6>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            <span>{{ item.tripTime.idle }}</span>
          </p>

          <p style="
          color:#009688;
          font-size: 11px;
          font-weight: bold; ">
            {{'Idle Time' | translate}}(HH:MM)
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
</ion-content>
