<ion-icon name="close" style="font-size: 3em; color: white;float: right; padding-right: 11px;" (click)="dismiss()">
</ion-icon>

<!-- <button ion-button full (click)="getPermission()">Get Permission</button>
<button ion-button full (click)="startListening()">Start Listening</button>
<button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>

 -->

<div class="mainDiv">
    <!-- <ion-buttons end> -->
    <!-- <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="close-circle"></ion-icon>
        </button> -->

    <!-- </ion-buttons> -->

    <div class="secondDiv">
        <ion-grid>
            <ion-row no-padding>
                <ion-col width-50>
                    <div class="design">
                        <span class="cont">
                            <p>ARM</p>
                        </span>
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center;">
                            <img src="assets/imgs/lock.png" />
                        </div>
                    </div>
                </ion-col>
                <ion-col width-50>
                    <div class="design">
                        <span class="cont">
                            <p>DISARM</p>
                        </span>
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center;">
                            <img src="assets/imgs/unlock.png" />
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50 (click)="unlockEngine()">
                    <div class="design">
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center; padding-top: 38px">
                            <img src="assets/imgs/play.png" />
                        </div>
                        <span class="cont">
                            <p>RESUME CAR</p>
                        </span>
                    </div>
                </ion-col>
                <ion-col width-50 (click)="lockEngine()">
                    <div class="design">
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center; padding-top: 38px">
                            <img src="assets/imgs/stop.png" />
                        </div>
                        <span class="cont">
                            <p>STOP CAR</p>
                        </span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="final" (click)="voiceToText()" *ngIf="!isIos()">
            <img src="assets/imgs/support.png" class="manual" />
            <p>LISTEN</p>
        </div>
        <div class="final" (click)="startListening()" *ngIf="isIos()">
            <img src="assets/imgs/support.png" class="manual" />
            <p>LISTEN</p>
        </div>
        <div style="padding: 3px 11px;">
            <button ion-button block color="light" (click)="stopListening()" *ngIf="isRecording">Stop Listening</button>

            <button ion-button (click)="dismiss()" color="gpsc" block>
                Submit
            </button>

        </div>
    </div>
</div>
<ion-card>
    <ion-card-header>This is what I understood...</ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let match of matches">
                {{ match }}
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
<ion-fab bottom right>
    <button ion-fab (click)="onInfo()" color="gpsc">
        <!-- <ion-icon name="information-outline"></ion-icon> -->
        <img class="imgSty" src="assets/imgs/info.png" />
    </button>
</ion-fab>
