<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'SOS Report' | translate}}</ion-title>
    <ion-buttons end *ngIf="sosData.length > 0">
      <!-- <button ion-button style="background: white; color: #d80622;" small (click)="OnExport()">{{"Export To
        Excel" | translate}}</button> -->
      <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
        <!-- <ion-icon name="custom-excel"></ion-icon> -->
        <img style="width: 20px;" type="image/svg+xml" src="/assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item style="height: 45px; background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getSOS(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">Today</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">Yesterday</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">Week</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">Month</button>
    </ion-col>
  </ion-row>
  <ion-row style="background-color: #fafafa;" padding-left padding-right>
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'From Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'To Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getSOSReport();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <ion-card *ngFor="let s of sosData">
    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-avatar item-start>
        <img src="assets/imgs/car_green_icon.png">
      </ion-avatar>
      <ion-label>{{s.vehicleName}}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-row style="padding-top:5px;">
        <ion-col col-1>
          <ion-icon name="time" style="font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col col-11 style="color:gray;font-size:11px;font-weight: 400;">
          {{s.timestamp | date:'full'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <ion-icon name="pin" color="secondary" style="font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col col-11>
          <p style="color:gray;font-size:11px;font-weight: 400;"> {{s.address ? s.address : 'N/A'}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
